table {
    border-collapse: collapse;
    float: left;
}

th,
td {
  border: solid 1px;
  width:  100px;
  padding: 5px;
  height: 35px;
  text-align: center;
  background-color: lightslategray;
}
th {
  border: 3px solid;
  background-color: gray;
}
tfoot td {
  background-color: seagreen;
}
input {
  margin: 5px 0;
  width: 340px;
}

.selectedCell {
  background-color: white;
}
.selectedHeader {
  background-color: lightgray;
}
.numberColumn {
  background-color: gray;
  width: 25px;
  height: 35px;
  border-left: 3px solid;
  border-bottom: 3px solid;
  border-right: 3px solid;
}
.numberColumnHeader {
  background-color: gray;
  width: 25px;
  height: 35px;
  border-left: 3px solid;
  border-bottom: 3px solid;
  border-top: 3px solid;
}
.numberColumnFooter {
  background-color: seagreen;
  width: 25px;
  height: 35px;
  border-left: 3px solid;
  border-top: 3px solid;
  border-right: 3px solid;
  border-bottom: 3px solid;
}

.selectedNumberColumn {
  background-color: lightgray;
  width: 25px;
}

/*color for the placeholder text in the formula bar*/
#formula::-webkit-input-placeholder {
color: lightgrey;
}
 
#formula:-moz-placeholder { /* Firefox 18- */
color: lightgrey;  
}
 
#formula::-moz-placeholder {  /* Firefox 19+ */
color: lightgrey;  
}
 
#formula:-ms-input-placeholder {  
color: lightgrey;  
}